/**
 * Basic button style
 * All other buttons require this class
 */

.btn {
  appearance: none;
  background: #79BE10;
  border-radius: 3px;
  border: none;
  box-shadow: 0 3px 0 #5D9803;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 13px;
  font-smoothing: antialiased;
  letter-spacing: 0.1em;
  line-height: 36px;
  outline: 0;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  text-shadow: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
}

.btn:hover {
  color: #FFF;
  background: #6fae0f;
}

.btn:active {
  color: #FFF;
  background: #1F7C07;
  box-shadow: none;
}

.btn[disabled] {
  opacity: 0.5;
  cursor: default;
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Icons used within buttons
 */

.btn i {
  display: inline-block;
  margin-top: -2px;
}

.btn i:first-child {
  margin-right: 3px;
}

.btn i:last-child {
  margin-left: 3px;
}